body {
    /* background: #222D32; */
    background: url("https://www.doctolib.fr/webpack/361607e66421b393545b.png") no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

.login-box {
    margin-top: 75px;
    padding: 10px 30px;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

.form-group {
    position: relative;
    margin-bottom: 25px
}

.form-group input {
    display: block;
    width: 100%;
    color: #FFF;
    height: 40px;
    background: transparent;
    border: solid 1px rgba(255, 255, 255, .5);
    transition: all .3s ease;
    padding: 0 15px
}

.form-group input:focus {
    border-color: #0DB8DE
}

.form-group label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease
}

.form-group input:focus+label,
.form-group input:valid+label {
    font-size: 12px;
    top: -18px
}

.form-group input:focus+label {
    color: #FFF
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-button {
    padding-right: 0px;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}


/* Tableau patients */
.listePatients.table thead {
    background: #1A2226;
    color: rgb(236, 113, 73);
}

.listePatients.table tbody tr {
    background: rgb(80, 80, 80);
    color: #FFF;
}


#addMaladie {
    cursor: pointer;
}